::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0px;
}

.subsection {
    width: 1400px;
    margin: 0px auto;
}

nav {
    border-bottom: 1px solid #a0a0a0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
}

.nav-subsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.navchild {
    font-weight: 500;
    transition: 200ms;
    font-size: 16px;
}

.navchild:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 200s;
}

.nav-subsection>div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#hero {
    margin-top: 90px;
    background-color: #f5f5f5;
    padding: 150px 0px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

h3 {
    font-size: 25px;
    font-weight: normal;
    line-height: 1.5;
}

button {
    padding: 20px 60px;
    border-radius: 500px;
    background-color: #1C1B1F;
    color: white;
    border: 1px solid white;
    transition: 200ms;
    font-size: 14px;
    font-weight: 700;
    width: fit-content;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: #1C1B1F;
    border: 1px solid #1C1B1F;
    transition: 200ms;
}

.hero-subsection>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 180px;
}

.hero-subsection>div:nth-child(1)>div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 0px;
}

#navbutton {
    padding: 15px 45px;
}

.services-subsection {
    padding: 150px 0px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 80px;
}

.service {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 20px;
    transition: 200ms;
}

.service:hover .serviceicon {
    background-color: white;
    color: black;
    transition: 200ms;
    border: 1px solid black;
}

.service:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.serviceicon {
    background-color: black;
    color: white;
    padding: 20px 20px 17px 20px;
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
    transition: 200ms;
    border: 1px solid black;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
}

.servicetitle {
    font-weight: 600;
}

#CTA {
    background-color: black;
    color: white;
    padding: 150px;
}

.CTA-subsection {
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.CTA-subsection > div > div > h2 {
    margin-top: 0px;
}

.CTA-subsection > div {
    display: flex;
    flex-direction: column;
}

.CTA-subsection>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.field,
textarea {
    width: 600px;
    padding: 20px;
    border-radius: 12px;
    background-color: rgba(245,245,245, 0.2);
    border: none;
    /* outline-color: white;
    outline-width: 1px; */
    outline: none;
    color: white;
    font-size: 16px;
}

textarea {
    height: 150px;
    resize: vertical;
    color: white;
    font-size: 16px;
}

.servicecheckbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.servicecheckbox input {
    height: 20px;
    width: 20px;
    background-color: rgba(245,245,245, 0.2);
    outline: none;
}

#checkflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    width: 100%;
}

#submitbutton {
    background-color: white;
    color: black;
    border: 1px solid white;
}

#submitbutton:hover {
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;
    color: black;
}