::-moz-selection {
    /* Code for Firefox */
    color: white;
    background: black;
}

::selection {
    color: white;
    background: black;
}

* {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-family: 'Libre Bodoni', serif !important;
    font-weight: 700;
    font-size: 30px;
}

body {
    margin: 0px;
}

.subsection {
    width: 1400px;
    margin: 0px auto;
}

nav {
    border-bottom: 1px solid #a0a0a0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    display: block;
}

.nav-subsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.navchild {
    font-weight: 500;
    transition: 200ms;
    font-size: 16px;
}

.navchild:hover {
    text-decoration: underline;
    cursor: pointer;
    transition: 200s;
}

.nav-subsection>div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

#hero {
    margin-top: 110px;
    background-color: #f5f5f5;
    padding: 150px 0px;
}

h2 {
    font-weight: 700;
    font-size: 40px;
}

h3 {
    font-size: 22px;
    font-weight: normal;
    line-height: 1.5;
}

button {
    padding: 20px 60px;
    border-radius: 500px;
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: 200ms;
    font-size: 14px;
    font-weight: 700;
    width: fit-content;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 200ms;
}

.hero-subsection>div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 180px;
}

.hero-subsection>div:nth-child(1)>div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 0px;
}

#navbutton {
    padding: 15px 45px;
}

.services-subsection {
    padding: 150px 0px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 80px;
}

.service {
    background-color: #f5f5f5;
    padding: 40px;
    border-radius: 20px;
    transition: 200ms;
}

.service:hover .serviceicon {
    background-color: white;
    color: black;
    transition: 200ms;
    border: 2px solid black;
}

.service:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}

.serviceicon {
    background-color: black;
    color: white;
    padding: 20px 20px 17px 20px;
    border-radius: 100px;
    width: fit-content;
    height: fit-content;
    transition: 200ms;
    border: 2px solid black;
}

h4 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
}

h5 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1;
}

.servicetitle {
    font-weight: 600;
}

#CTA {
    background-color: black;
    color: white;
    padding: 150px;
}

.CTA-subsection {
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.CTA-subsection>div>div>h2 {
    margin-top: 0px;
}

.CTA-subsection>div {
    display: flex;
    flex-direction: column;
}

.CTA-subsection>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.field,
textarea {
    width: 600px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.2);
    border: none;
    /* outline-color: white;
    outline-width: 1px; */
    outline: none;
    color: white;
    font-size: 16px;
}

textarea {
    height: 150px;
    resize: vertical;
    color: white;
    font-size: 16px;
}

.servicecheckbox {
    display: flex;
    align-items: center;
    gap: 10px;
}

.servicecheckbox input {
    height: 20px;
    width: 20px;
    background-color: rgba(245, 245, 245, 0.2);
    outline: none;
}

#checkflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0px;
    width: 100%;
}

#submitbutton {
    background-color: white;
    color: black;
    border: 2px solid white;
}

#submitbutton:hover {
    background-color: #e0e0e0;
    border: 2px solid #e0e0e0;
    color: black;
}

footer {
    padding: 50px 0px;
}

.footer-subsection>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.fa {
    color: black;
    font-size: 22px;
    transition: 200ms;
}

.fa:hover {
    color: #a0a0a0;
    cursor: pointer;
    transition: 200ms;
}

footer {
    background-color: #f5f5f5;
    border-top: 1px solid #a0a0a0;
}

.socials {
    display: flex;
    gap: 40px;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 200;
    text-align: center;
    line-height: 90vh;
    background-color: black;
    color: white;
}

.splash.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    text-align: center;
    line-height: 90vh;
    background-color: black;
    color: white;
    transition: all 0.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}

#aboutus {
    padding: 150px 0px 75px 0px;
}

.aboutus-hero-subsection {
    text-align: center;
}

.aboutus-aboutus-subsection {
    display: flex;
    align-items: flex-start;
    gap: 100px;
}

.column {
    max-width: 550px !important;
}

.wcu-column {
    position: sticky;
    top: 140px;
    padding-top: 0;
    padding-bottom: 5px;
}

.desc {
    color: #757575;
    font-size: 16px;
}

.why-subsection {

    display: flex;
    align-items: flex-start;
    gap: 100px;
}

#image {
    width: 550px;
    border-radius: 18px;
    height: fit-content;
    height: 380px;
    object-fit: cover;
}

.why-subsection>div>h2 {
    margin-top: 0;
}

.why-subsection>div>h4 {
    margin-bottom: 0;
}

.aboutsection {
    padding: 75px 0px;
}

.operating-procedure {
    display: flex;
    flex-direction: column;
    /* gap: 80px; */

    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 20px;
}

#section-title {
    margin-bottom: 120px;
}

#row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -50px;
}

.icon {
    background-color: black;
    padding: 25px;
    border: 2px solid white;
    border-radius: 100%;
    color: white;
    transition: 200ms;
}

/* #row > div {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.icon:hover {
    background-color: white;
    border: 2px solid black;
    color: black;
    transition: 200ms;
    cursor: pointer;
}

#row>div>h3 {
    font-weight: 600;
    font-size: 20px;
}

/* #bar {
    position: relative;
} */

#bar>hr {
    width: 90%;
    height: 2px;
    background-color: black;
}

.procedure-desc {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

#procedure-image {
    width: 575px;
    border-radius: 18px;
    height: fit-content;
    height: 380px;
    object-fit: cover;
}

.wcu-subsection {
    display: flex;
    justify-content: space-between;
    padding: 75px 0px;
    gap: 100px;
    height: max-content;
}

.wcu-subsection>div>div>div>h2 {
    margin-top: 0;
}

#progress-path {
    height: 980px;
    width: 2px;
    background-color: black;
    margin-top: 30px;
}

.title {
    font-weight: 700;
    margin-top: 0;
}

.wcu-descrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-left: 55px;
}

.wcu-descrow>div>h4 {
    margin-top: 0;
}

.wcu-descrow>div>h3 {
    margin-bottom: 0;
}

.wcu-iconrow {
    display: flex;
    align-items: center;
    gap: 30px;
}

.row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: -111.5px;
}

.bullet {
    background-color: black;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    display: block;
}

.wcu-parentrightcolumn {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.team {
    padding: 75px 0px 150px 0px;
}

.team > h2 {
    font-weight: 800;
    text-align: center;
    margin-top: 0;
}

.team > h3 {
    text-align: center;
    font-weight: 600;
}

.profiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 100px;
}

.profile {
    padding: 20px;
    border-radius: 20px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    gap: 60px;
    transition: 200ms;
}

.profile-upperinfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile:hover {
    background-color: #f0f0f0;
    transition: 200ms;
}
/* 
.profile:hover .position{
    background-color: white;
    border: 2px solid black;
    color: black;
    transition: 200ms;
} */

.profile-img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    object-position: 0px -70px;
    border-radius: 15px;
}

.profiletitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-logos {
    display: flex;
    align-items: center;
    gap: 30px;
}

.profiletitle  > div > h3 {
    font-weight: 700;
    margin: 0px;
}

.position > h4 {
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
}

.profile > div > div > h4 {
    margin: 0;
}

.position {
    padding: 8px 25px;
    background-color: black;
    color: white;
    border-radius: 500px;
    width: fit-content;
    border: 2px solid #f0f0f0;
    transition: 200ms;
}

.positions {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}